h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-header;
  color: $color-black;
  font-weight: $font-weight-header;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

p,
a,
span,
div,
li {
  font-family: $font-stack-body;
  color: $color-black;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
li,
strong,
b,
i,
u {
  &::selection {
    background: $color-secondary-light;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

%h1,
h1,
.h1 {
  font-size: 48px;
}

%h2,
h2,
.h2 {
  font-size: 40px;
}

%h3,
h3,
.h3 {
  font-size: 32px;
}

%h4,
h4,
.h4 {
  font-size: 24px;
}

%h5,
h5,
.h5 {
  font-size: 18px;
}

%h6,
h6,
.h6 {
  font-size: 16px;
}

%k1,
.k1 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

%k2,
.k2 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

%k3,
.k3 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

%t1,
.p1 {
  font-size: 18px;
}

%t2,
p,
.t2 {
  font-size: 16px;
}

%t3,
.t3 {
  font-size: 12px;
}

p, %p, .lead, %lead {
  font-size: 16px;
}

b {
  font-weight: 700;
}