<div class="ingred-content">
    <div class="wrapper" >
      <div class="ingred-all-in" >
        {%- for block in section.blocks -%}
          <div class="ingred-image">
            <a href="{{ block.settings.url }}">
            {%- if block.settings.image != blank -%} 
              <img class="ingred-one" src="{{ block.settings.image | img_url: 'master' }}">
            {%- endif -%}
            {%- if block.settings.text11 != blank -%}
              <h2>{{ block.settings.text11 }}</h2>
            {%- endif -%}
             {%- if block.settings.text2 != blank -%}
            <p>{{ block.settings.text2 }}</p>
             {%- endif -%}
            </a>
          </div>
        {%- endfor -%}
      </div>
  </div>
</div>
    
    
    
{% schema %}
{
  "name": "Ingredient Top",
  "class": "ingred-cls",  
      "settings": [
        
		],
  		"blocks": [
     {
       "name": "Doctor",
       "type": "Doctor",
       "settings": [
		{
          "type": "url",
          "id": "url",
          "label": "Url"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image one"
        },
		{
          "type": "text",
          "id": "text11",
          "label": "Heading"
        },
		{
		  "type": "text",
          "id": "text2",
          "label": "para"
        }
      ]
}
   ]
}

{% endschema %}