
<section class="section sitemap has-background"> 
  <div class="content">
    {{ page.content }}
  </div>
</section>

<style>
  header, footer{
   display:none; 
  }
  section.section.sitemap {
      padding-bottom: 50px;
  }
</style>